/***** css rules star selector *****/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.no_bullet {
    list-style-type: none;
    padding: 0;
}

li {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px dashed grey;
}

