h1 {
    color: white;
    font-weight: 900;
}

span {
    font-weight: 500;
}

button {
    color: white;
    padding: 5px 10px;
}

li {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px dashed grey;
}

.testo_cc:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

.row.bg-primary {
    border: 1px solid grey;
}